* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 10vmin;
    color: red;
    background-color: bisque;
    border: none;
    cursor: pointer;
}

#reset-btn,
#new-btn {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    background-color: aqua;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin: 1rem;
}

#msg {
    color: blue;
    font-size: 2rem;
    margin-top: 1rem;
}

.msg-container {
    height: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}
